
.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition : all 0.3 ease-in-out;
    pointer-events: none;
}

.modal.show{
    opacity: 1;
    pointer-events: visible;
}

.modal-content {
    width: 500px;
    background-color: #fff;
    transform: translateY(-200px);
    transition: all 0.3 ease-in-out;
}

.modal.show .modal-content{
    transform: translateY(0);
}

.modal-header, .modal-footer {
    padding:10px;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding: 10px;
    border-top: 1 solid #eee;
    border-bottom: 1 solid #eee;
}

